{"filter":false,"title":"new.html.slim","tooltip":"/app/views/devise/registrations/new.html.slim","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":53},"end":{"row":0,"column":53},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b99004fc89455ef26ba32a83ad27cbbcf640bb51","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":53},"action":"insert","lines":["link[href=\"/stylesheets/devise.css\" rel=\"stylesheet\"]"],"id":204}]]},"timestamp":1519610560616}