{"filter":false,"title":"new.html.slim","tooltip":"/app/views/devise/registrations/new.html.slim","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":24,"column":21},"end":{"row":24,"column":28},"action":"remove","lines":["fa-lock"],"id":168},{"start":{"row":24,"column":21},"end":{"row":24,"column":28},"action":"insert","lines":["fa-user"]}],[{"start":{"row":43,"column":77},"end":{"row":43,"column":79},"action":"remove","lines":["ff"],"id":169},{"start":{"row":43,"column":77},"end":{"row":43,"column":78},"action":"insert","lines":["n"]}]]},"ace":{"folds":[],"scrolltop":240,"scrollleft":0,"selection":{"start":{"row":43,"column":77},"end":{"row":43,"column":79},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"state":"start","mode":"ace/mode/text"}},"timestamp":1519505390505,"hash":"b761ee7ca083cfa6c7fe9152c0659eafc9d5c28d"}