<html>
    <head>
        
    </head>
    <body>
        <h1>Páginal Principal</h1>
        
        <%= link_to 'Projetos', '/projetos' %>
        <%= link_to 'Bugs', '/bugs' %>
        <%= link_to 'Logar', user_session_path %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    </body>
</html>