<html>
    <head>
        
    </head>
    <body>
        <h1>Páginal Principal</h1>
        
        <%= link_to 'Projetos', '/projetos' %>
        <%= link_to 'Bugs', '/bugs' %>
        
    </body>
</html>