{"filter":false,"title":"_form.html.slim","tooltip":"/app/views/projetos/_form.html.slim","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":28,"column":0},"end":{"row":29,"column":7},"action":"remove","lines":["      => link_to 'Mostar', @projeto, :id => \"botao\"","      '"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":28,"column":0},"end":{"row":28,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"state":"start","mode":"ace/mode/text"}},"timestamp":1519604400237,"hash":"675f7367a6028186579ab632634f74e39c60f2f0"}