{"filter":false,"title":"_form.html.slim","tooltip":"/app/views/projetos/_form.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":19},"end":{"row":9,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":2,"state":"start","mode":"ace/mode/text"}},"timestamp":1519252928892,"hash":"adc5af43f693dd5d69bd36394c30c806c43f86ad"}