{"filter":false,"title":"_form.html.slim","tooltip":"/app/views/projetos/_form.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":11},"end":{"row":10,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519171312092,"hash":"c72b590e880d4b1e93ca1e82670491e73d580ff9"}