{"filter":false,"title":"index.html.slim","tooltip":"/app/views/projetos/index.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":5953.5,"scrollleft":0,"selection":{"start":{"row":384,"column":20},"end":{"row":384,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":349,"state":"start","mode":"ace/mode/text"}},"timestamp":1519481072073,"hash":"12d726b7df47e7ae1d1300005dee0336446fa509"}