{"filter":false,"title":"index.html.slim","tooltip":"/app/views/projetos/index.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":600,"scrollleft":0,"selection":{"start":{"row":42,"column":16},"end":{"row":42,"column":45},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"state":"start","mode":"ace/mode/text"}},"timestamp":1519591349363,"hash":"6bbb82e66802876ae56c4e8b11bc1a0e94d66e7d"}