{"filter":false,"title":"new.html.slim","tooltip":"/app/views/projetos/new.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519163754531,"hash":"f81798a1fe14c8de39b5858c1b0c6d7ef9126366"}