{"filter":false,"title":"new.html.slim","tooltip":"/app/views/projetos/new.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":2},"end":{"row":12,"column":2},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"mode":"ace/mode/text"}},"timestamp":1519593719493,"hash":"59d91153fc9278f78194f0a2c9b252a64a8d9772"}