{"filter":false,"title":"show.html.slim","tooltip":"/app/views/projetos/show.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":29,"column":13},"end":{"row":29,"column":36},"action":"remove","lines":["@projeto.bugs.count > 0"],"id":2}]]},"ace":{"folds":[],"scrolltop":360,"scrollleft":0,"selection":{"start":{"row":29,"column":13},"end":{"row":29,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/text"}},"timestamp":1519591609003,"hash":"df7353a3f56256f2cdd3d845ddb8f9ca534db7a7"}