{"filter":false,"title":"show.html.slim","tooltip":"/app/views/projetos/show.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1300,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":157,"column":96},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":75,"state":"start","mode":"ace/mode/text"}},"timestamp":1519500310452,"hash":"4447da9016df8b7ae4493f44fefb1410cc708b16"}