{"filter":false,"title":"edit.html.slim","tooltip":"/app/views/bugs/edit.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":5083,"scrollleft":0,"selection":{"start":{"row":325,"column":52},"end":{"row":325,"column":52},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519571074593,"hash":"6de2c525688651138f791531361cd834ca620291"}