{"filter":false,"title":"edit.html.slim","tooltip":"/app/views/bugs/edit.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":0},"end":{"row":19,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"mode":"ace/mode/text"}},"timestamp":1519598184112,"hash":"1aa13d05907c81ce639c2ba1f509054702c9af4e"}