{"filter":false,"title":"index.html.slim","tooltip":"/app/views/bugs/index.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":11},"end":{"row":2,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519175383162,"hash":"ac9b1d8db6276a6d8582cb8e684b810e0462ea88"}