{"filter":false,"title":"index.html.slim","tooltip":"/app/views/bugs/index.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":5854,"scrollleft":0,"selection":{"start":{"row":370,"column":13},"end":{"row":370,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519494007131,"hash":"5adc7eeae365b65d8a58621a1ae1ad08c456a151"}