{"filter":false,"title":"new.html.slim","tooltip":"/app/views/bugs/new.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"mode":"ace/mode/text"}},"timestamp":1519599227618,"hash":"815bf8570874cbe07b8b90d740bbe65f09a10af5"}