{"filter":false,"title":"show.html.slim","tooltip":"/app/views/bugs/show.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":5417.5,"scrollleft":0,"selection":{"start":{"row":345,"column":50},"end":{"row":345,"column":50},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":317,"state":"start","mode":"ace/mode/text"}},"timestamp":1519572265101,"hash":"52937f48bc2508b4794e4c0f3b593a461653b5bd"}