{"filter":false,"title":"show.html.slim","tooltip":"/app/views/bugs/show.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":33,"column":12},"end":{"row":33,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519486706158,"hash":"87cb9801a460ce5e582a2d08bb6c3a3dba2428b7"}