{"filter":false,"title":"show.html.slim","tooltip":"/app/views/bugs/show.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":33,"column":4},"end":{"row":33,"column":60},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1519591556872,"hash":"3c948e4f25735747512d4e2755216d629ec79bf3"}